@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
/* ==== BLOCK 1 === navigation
=======================*/
button:hover {
  filter: invert(1);
}

button:active {
  filter: invert(0.2);
}

nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  margin: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 66px;
  /* or 132% */
  letter-spacing: 1px;
  /* Colour/Main/Blue/900 */
  color: #091133;
}

.head_block {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 0px 10px;
  flex-wrap: wrap;
}

a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #505f98;
}

.wrapper_head {
  min-height: 1161px;
  background-image: url(../img/background_1.svg);
  background-position-x: right;
  background-position-y: top;
  background-repeat: no-repeat;
}

.nav_item {
  display: flex;
  flex-grow: 1;
  max-width: 245px;
  justify-content: space-between;
}

.logo {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 38px;
  /* identical to box height, or 146% */
  /* Colour/Logo/Primary */
  color: #37447e;
}

.btn_nav_box {
  padding: 0px;
}

.btn_nav {
  min-height: 26px;
  min-width: 170px;
  background: #111b47;
  border-radius: 2px;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height, or 150% */
  transition: 0.8s;
  text-align: center;
  cursor: pointer;
  /* Colour/Secondary/White 100 (general) */
  color: #ffffff;
}

.btn_nav:active {
  opacity: 0.5;
}

.btn_nav:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.block_1 {
  width: 100%;
}

.block_1_wr {
  max-width: 316px;
  max-width: 540px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-top: 15.125vw;
  row-gap: 20px;
}

p {
  /* Regular 18 */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  /* Colour/Main/Blue/500 */
  color: #505f98;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6));
}

.block__1-btn {
  max-width: 408px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 69px;
}

.block__1_btn-second {
  background: #111b47;
  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  /* Colour/Secondary/White 100 (general) */
  border: 2px solid #091133;
  box-sizing: border-box;
  border-radius: 2px;
  color: #ffffff;
  width: 190px;
  height: 36px;
}

.block__1_btn-first {
  /* Medium 16 */
  width: 190px;
  height: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  text-align: center;
  /* Colour/Main/Blue/900 */
  color: #091133;
}

.main__container {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 0px 10px;
  flex-wrap: wrap;
  min-height: 742px;
  margin-top: 260px;
}

.block_2 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
}

.block_2__txt {
  max-width: 445px;
}

.block_2__img {
  flex-basis: 540px;
  min-height: 524px;
  background-image: url(../img/bg_block_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.block_2__txt--h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height, or 133% */
  margin-bottom: 16px;
  /* Colour/Main/Blue/900 */
  color: #091133;
}

.block_2__txt--p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /* or 162% */
  /* Colour/Main/Blue/400 */
  color: #6f7cb2;
}

.block_2__txt--items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 30px;
  margin-top: 80px;
}

.block_2__title {
  /* Medium 16 */
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  margin: 14px 0px 6px 0px;
  /* Colour/Main/Blue/900 */
  color: #091133;
}

.block_2__title-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #5d6970;
}

/* BLOCK ====3====
  =================== */
.block_3 {
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: space-between;
}

.block_3__img--bg {
  flex-basis: 480px;
  min-height: 524px;
  background-image: url(../img/block_2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.block_4__img--bg {
  flex-basis: 480px;
  min-height: 524px;
  background-image: url(../img/block_3.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.block_5__img--bg {
  flex-basis: 480px;
  min-height: 524px;
  background-image: url(../img/block_4.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.block_6 {
  height: 1034px;
  overflow: hidden;
}

.svg_bg {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background-image: url(../img/Rectangle1.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 250px;
  padding-bottom: 200px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.bg__none {
  background: none;
}

.block6_flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  justify-content: space-around;
}

.block6_flex__element3--paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #5d6970;
  background: none;
  margin-bottom: 9px;
}

.block6_flex__h2 {
  margin: 16px 0px;
}

.footer {
  background: #e7ecff;
  width: 100%;
  height: 216px;
  position: relative;
  bottom: 466px;
  display: flex;
  flex-wrap: wrap;
}

.regular {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #939ea4;
  margin-bottom: 0px;
}

.foot_container {
  display: flex;
  flex-basis: 1110px;
  margin: 0 auto;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

.foot_btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background: #111b47;
  border-radius: 2px;
  width: 109px;
  height: 26px;
  cursor: pointer;
  text-align: center;
  transition: 0.8s;
}

.foot_container2 {
  display: flex;
  flex-basis: 1110px;
  margin: 0 auto;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.foot_container2__ref {
  display: grid;
  grid-template-columns: 95px 95px 95px;
  grid-auto-flow: row;
}

.foot_container2__social {
  display: grid;
  grid-template-columns: 16px 16px 16px 16px 16px;
  grid-auto-flow: row;
  gap: 30px;
}

.foot_container2__social > img {
  cursor: pointer;
}

.foot_container2__ref > a {
  cursor: pointer;
}

hr {
  max-width: 1110px;
  width: 100%;
  color: #cdd1d4;
}

/*# sourceMappingURL=style.css.map */
