/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
html {
  font-family: "Futura Round";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #ecd3d0;
}
menu {
  display: flex;
  justify-content: space-around;
}
.menu-wrap {
  flex-grow: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video {
  margin: 0 auto;
  max-width: 1600px;
}
.wid-wrap {
  padding: 5% 0;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5% 0;
}
.wrapper-body {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Futura Round";
  font-size: 16px;
}
.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Futura Round";
  font-size: 16px;
}

.logo {
  font-size: 50px;
  color: #b8977d;
}
.logo .bold-text {
  font-weight: 800;
  font-size: 50px;
}
.logo .text-logo {
  font-size: 50px;
}
a {
  color: #b8977d;
  text-decoration: none;
  font-size: 25px;
}
menu a {
  font-size: 40px;
  margin: 0%;
}
menu div {
  display: flex;
  flex-grow: 1;
  text-align: center;
  display: flex;
  justify-content: flex-end;
}
.flex {
  display: flex;
  gap: 60px;
}
.about-as h3 {
  font-size: 39px;
  color: #b8977d;
  margin: 20px 0px;
}
.about-as {
  background: white;
  padding: 5% 0%;
}
.flex.about-as-theam {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 8%;
}

.about-as-text .block {
  max-width: 50%;
  color: #13486a;
  font-size: 32px;
}
.block-img-ava {
  max-width: 200px;
}
.block-img-ava img {
  max-width: 100%;
  height: auto;
}
.lang-swish {
  display: flex;
  justify-content: flex-end;

  color: white;
}
.lang-swish .text-lang {
  background: #c19e83;
  width: 44px;
  border-radius: 50%;
  height: 44px;
  display: flex;
  font-size: 23px;
  align-items: center;
  justify-content: center;
}
.block-img-ava .ava-text {
  font-size: 33px;
  text-align: center;
  margin-top: 20px;
  color: #214a73;
}
.the-theam h3 {
  font-size: 45px;
  color: #b8977d;
}
.the-theam {
  padding: 100px 0px;
  background: #d9eee9;
}
.swiper-left-text {
  background: #d9eee9;
  font-size: 80px;
  padding: 10% 10%;
  color: #b8977d;
  max-width: 40%;
  text-align: left;
}

.form-box {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.form-box h3 {
  font-size: 45px;
  color: #b8977d;
  margin: 20px 0;
}
.form-box input,
.form-box textarea {
  display: block;
  border: none;
  margin: 15px 0px;
  font-size: 25px;
  padding: 15px 10px;
}
.form-box input::placeholder,
.form-box textarea::placeholder {
  font-size: 25px;
  color: #13486a;
}
.contact-form {
  background: right / contain no-repeat url(./img/fon.png);
}
.form-box button {
  border: none;
  background: #b8977d;
  color: white;
  font-size: 25px;
  padding: 2% 5%;
}
footer {
  text-align: right;
  color: #13486a;
  font-size: 18px;
  font-weight: 500;
}
/* swipe */
.swiper-container {
  width: 100%;
  height: 100%;
  max-height: 758px;
  background: #d9eee9;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* end swiper */
/* menu */

:root {
  --color-primary: #c19e83;
  --color-secondary: #f0f7ee;
  --duration: 1s;
  --nav-duration: calc(var(--duration) / 4);
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --space: 1rem;
  --font-primary: "Futura Round";
  --font-heading: "Futura Round";
  --font-size: 1.125rem;
  --line-height: 1.5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1 {
  margin-bottom: calc(var(--space) * 3);
  font-family: var(--font-heading);
  font-size: calc(var(--font-size) + 6vmin);
  line-height: calc(var(--line-height) / 1.25);
}

.main-navigation-toggle {
  position: fixed;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}
.main-navigation-toggle + label {
  position: fixed;
  top: calc(var(--space) * 1.5);
  right: calc(var(--space) * 2);
  cursor: pointer;
  z-index: 3;
}

.icon--menu-toggle {
  --size: calc(1rem + 4vmin);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  stroke-width: 6;
}

.icon-group {
  transform: translateX(0);
  transition: transform var(--nav-duration) var(--ease);
}

.icon--menu {
  stroke: var(--color-primary);
}

.icon--close {
  stroke: var(--color-secondary);
  transform: translateX(-100%);
}

.main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  transition: transform var(--nav-duration);
  z-index: 2;
}
.main-navigation:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  transform-origin: 0 50%;
  z-index: -1;
}
.main-navigation ul {
  font-size: 12vmin;
  font-family: var(--font-heading);
  width: 100%;
}
.main-navigation li {
  --border-size: 1vmin;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.main-navigation li:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: var(--border-size);
  background-color: var(--color-secondary);
  transform-origin: 0 50%;
  transform: translateX(-100%) skew(15deg);
}
.main-navigation a {
  display: inline-block;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  color: var(--color-secondary);
  line-height: 1;
  text-decoration: none;
  user-select: none;
  padding: var(--space) calc(var(--space) * 2) calc(var(--space) + var(--border-size) / 2);
  transform: translateY(100%);
}

.main-content {
  margin: 6rem auto;
  max-width: 70ch;
  padding: 0 calc(var(--space) * 2);
  transform: translateX(0);
  transition: transform calc(var(--nav-duration) * 2) var(--ease);
}
.main-content > * + * {
  margin-top: calc(var(--space) * var(--line-height));
}

.main-navigation-toggle:checked ~ label .icon--menu-toggle .icon-group {
  transform: translateX(100%);
}
.main-navigation-toggle:checked ~ .main-content {
  transform: translateX(10%);
}
.main-navigation-toggle:checked ~ .main-navigation {
  transition-duration: 0s;
  transform: translateX(0);
}
.main-navigation-toggle:checked ~ .main-navigation:after {
  animation: nav-bg var(--nav-duration) var(--ease) forwards;
}
.main-navigation-toggle:checked ~ .main-navigation li:after {
  animation: nav-line var(--duration) var(--ease) forwards;
}
.main-navigation-toggle:checked ~ .main-navigation a {
  animation: link-appear calc(var(--duration) * 1.5) var(--ease) forwards;
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(1):after,
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(1) a {
  animation-delay: calc((var(--duration) / 2) * 1 * 0.125);
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(2):after,
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(2) a {
  animation-delay: calc((var(--duration) / 2) * 2 * 0.125);
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(3):after,
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(3) a {
  animation-delay: calc((var(--duration) / 2) * 3 * 0.125);
}
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(4):after,
.main-navigation-toggle:checked ~ .main-navigation li:nth-child(4) a {
  animation-delay: calc((var(--duration) / 2) * 4 * 0.125);
}

@keyframes nav-bg {
  from {
    transform: translateX(-100%) skewX(-15deg);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes nav-line {
  0% {
    transform: scaleX(0);
    transform-origin: 0 50%;
  }
  35% {
    transform: scaleX(1.001);
    transform-origin: 0 50%;
  }
  65% {
    transform: scaleX(1.001);
    transform-origin: 100% 50%;
  }
  100% {
    transform: scaleX(0);
    transform-origin: 100% 50%;
  }
}
@keyframes link-appear {
  0%, 25% {
    transform: translateY(100%);
  }
  50%, 100% {
    transform: translateY(0);
  }
}