@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

header {
  height: 500px;
  background: #ed4c5c;
  display: flow-root;
}

.wrapper {
  display: block;
}

.text_header {
  margin-left: 11.45%;
  margin-right: 11.45%;
  margin-top: 8.47%;
  margin-bottom: 12.7%;

  border: 1px solid green;
  display: inline-block;
}

.logo {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  max-width: 445px;
  color: #ffffff;
}

.descr {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  max-width: 445px;
  margin-top: 47px;
  text-align: justify;

  color: #ffffff;
}

.icons {
  margin-top: 47px;
}

.icon_item {
  margin: 10px;
  margin-top: 0;
}

.image_area {
    display: flex;
}
