@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

header {
  min-height: 500px;
  background: #ed4c5c;
  display: flow-root;
  padding-bottom: 20px;
}

.wrapper {
  display: inline-block;
}

.text_header {
  margin-left: 176px;
  margin-right: 176px;
  margin-top: 4.47%;

  display: flow-root;
}

.logo {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  max-width: 445px;
  color: #ffffff;
}

.descr {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  max-width: 445px;
  margin-top: 47px;
  text-align: justify;

  color: #ffffff;
}

.icons {
  margin-top: 47px;
  align-items: center;
  display: flex;
}

.icon_item {
  margin: 10px;
  margin-top: 0;
}

.image_area {
  width: 533px;
  height: 311px;
  float: right;

  position: relative;
}

.image_1 {
  position: absolute;
}

.image_p1 {
  z-index: 9999;
  left: 45px;
}

.image_p2 {
  z-index: 9998;
  left: 148px;
  top: 20px;
}
.image_p3 {
  z-index: 9997;

  top: 20px;
}
/*contact styles */
.contact {
  height: 500px;
  display: flex;
  justify-content: space-between;
}
/* Left Text */
.left_text {
  position: relative;
  width: 445px;
  height: 160px;
  left: 176px;
  top: 117px;
}

/* Contact */

.contact_h2 {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  margin-bottom: 65px;
  color: #000000;
}

.txt_contact {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */

  text-align: justify;

  color: #000000;
}

/* Right Field */

.right_fied {
  position: relative;
  width: 540px;
  height: 305px;

  margin-top: 117px;
  margin-right: 176px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.input_name {
  width: 255px;
  height: 60px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 20px;
  padding-left: 31px;
}

.inp_phone {
  width: 540px;
  height: 60px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 15px;
  padding-left: 31px;
  padding-right: 30px;
}
.button_sum {
  width: 160px;
  height: 50px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-transform: uppercase;

  color: #ffffff;

  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  box-sizing: border-box;
  border-radius: 6px;
}

.button_sum:hover {
  background-color: #fff;
  color: #ed4c5c;
  transition: linear 0.5s;
}

.inp_text_col {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: rgba(19, 39, 67, 0.5);
}

.st_foot {
  height: 435px;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  padding-left: 166px;
  padding-right: 166px;
}

.inf_foot {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  margin-top: 85px;

  color: #101010;
}

address {
  height: 54px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
  color: #101010;
  margin-top: 33px;
}

a {
  width: 254px;
  height: 114px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  /* or 19px */

  text-transform: capitalize;

  color: #000000;
}

.email {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #101010;
  margin-top: 11px;
}

.marg_href {
  margin-top: 33px;
}

.social_hr {
  width: auto;
}

.icons_hr {
  margin-top: 23px;
}
.icons_social {
  margin: 5px;
  margin-top: 0;
}
.copy {
  margin-top: 141px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #101010;
}

.marg_img {
  margin-left: 0;
}
