body {
    padding-top: 15vh;
}

main {
    min-height: 100vh;
    width: 100%;
    background: center / cover no-repeat url(./img/unsplash_bearb.jpg) ;
}

.logo img {
    
   height: auto;
    width: 100%;
}
.logo {
    display: flex;
    max-width: 800px;
 margin: 0 auto;
}