@media (max-width: 480px) {
  h1 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 86px;
    margin-bottom: 30px;
  }

  h6 {
    max-width: 320px;
    height: 70px;

    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    margin: 0px auto 50px;
    /* #4F4F4F */

    color: #4f4f4f;
  }

  header {
    background-image: none;

    display: flex;
  }

  .logo {
    margin: 32px auto 0px auto;
    width: 99px;
    height: 32px;
  }

  .google_play_and_apple_story {
    max-width: 350px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }
  .wraper_header {
    margin: 20px;
  }

  .block_2 {
    display: flex;
    background-color: #ffffff;
    flex-direction: column-reverse;
  }

  .gradient {
    order: 2;
  }
  .text_block {
    order: 1;
    margin: 54px 0px 22px 0px;
    padding: 0px 20px;
  }
  h5 {
    text-align: center;
  }
  h2 {
    text-align: center;
    margin: 27px 0px 20px 0px;
  }
  .btn_learn_more {
    margin: 22px auto;
    width: 100%;
  }

  p {
    text-align: center;
  }
  .scrennshot_1 {
    position: relative;
    width: 247px;
    margin: 0;
    height: 149.06px;
    left: 20px;
    top: 50px;
    z-index: 4;
    border-radius: 4px;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16.7833px;
    line-height: 22px;
    background: #ffffff;
    color: #4f4f4f;
  }

  .txt_scrn_1 {
    padding: 10px;
    min-width: 50%;
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11.5188px;
    line-height: 15px;
    /* identical to box height */

    color: #4f4f4f;
  }
  .scrennshot_2 {
    position: relative;
    width: 247px;
    height: 149.06px;
    left: 86px;
    top: 30px;
    z-index: 2;
  }
  .img_block {
    min-width: 300px;
    background-image: url(./img/Ronaldu.webp);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 360px;
    margin: 0px;
  }

  .footer_scr_1 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12.9587px;
    line-height: 17px;
    /* identical to box height */
    padding: 10px;
    height: 33.8px;
    background-position-x: 212px;
    color: #4f4f4f;
    background-size: 23px;
  }

  .gradient {
    order: 2;
    background: linear-gradient(
        -180deg,
        #ffffff 5.16%,
        rgba(255, 255, 255, 0) 67.14%
      ),
      rgba(255, 255, 255, 0.5);
  }

  /*  BLOCK 3           */
  .text_block {
    order: 1;
    margin: 54px 0px 0px 0px;
    padding: 0px 20px;
  }

  .block_3 {
    background-image: none;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    width: 100%;
  }
  .tel_block {
    background-image: url(./img/fon_block2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: -644px;
  }
  .btn_learn_more {
    margin: 22px auto 0px auto;
    width: 100%;
  }
  .bell {
    position: relative;
    z-index: 2;
    min-width: 71.2px;
    height: 71.2px;
    border-radius: 50%;
    background: #ffffff;
    box-shadow: 0px 3.13793px 15.6897px rgba(0, 0, 0, 0.25),
      0px 2.51034px 6.27586px rgba(51, 51, 51, 0.1);
    left: -240px;
    top: 104px;
    display: inline-flex;
    justify-content: center;
  }

  .telephone {
    height: 565px;
    display: flex;
    overflow: hidden;
    /* max-height: 80%; */
  }

  .tel_img {
    width: auto;
    height: 482px;
    position: relative;
    right: -19px;
    top: 60px;
  }

  .tel_ico {
    position: relative;
    left: -116px;
    top: 360px;
    display: inline-flex;
    justify-content: center;
    background-image: url(./img/shopping_cart-24px.svg);
    background-repeat: no-repeat;
    background-size: 34px;
    background-position: center;
    width: 71.85px;
    height: 71.81px;
  }
  .tel_ico::before {
    content: "7";
    width: 18px;
    height: 18px;
    position: relative;
    background: #40b756;
    border: 0.990764px solid #3db657;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    top: 12px;
    left: 10px;

    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.8892px;
    line-height: 19px;

    align-items: center;

    color: #ffffff;
  }
  .bell_1::after {
    content: "7";
    width: 18px;
    height: 18px;
    position: relative;
    background: #00adee;
    border: 0.990764px solid #00adee;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    top: 12px;
    left: 10px;

    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 11.8892px;
    line-height: 19px;

    align-items: center;

    color: #ffffff;
  }

  .tel_ico:after {
    display: none;
  }

  .bell_1 {
    background-image: url(./img/bel.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
  }

  .bel_hidden {
    display: none;
  }

  .tel_svs_ico {
    display: none;
  }

  /* BLOCK 4       */
  .block_4_flex {
    margin: 0 auto;
    padding: 24px 24px 69px 24px;
  }

  .block_4 {
    grid-gap: 50px 5px;
  }
  /*  BLOCK 5    */

  /*  BLOCK 6    */

  div.flex_block_6 > div + div {
    margin: 0px;
  }

  .img_1 {
    flex-basis: 147px;
    margin-right: 20px;
  }

  .block_6 {
    display: flex;
    width: 100%;
    min-height: 409px;
    flex-wrap: wrap;
    background: #fafafa;
  }

  .flex_block_6 {
    padding: 0px 20px;
    height: 201px;
  }

  .flex_block_6 > div:last-child {
    margin: 0 auto;
  }

  /* BLOCK 7 */
  .block_7_text {
    padding: 0px;
    min-width: 100px;
    min-height: 432px;
    display: flex;
    flex-wrap: wrap;
  }
  .block_7_text {
    flex-basis: 50%;
    padding: 0px 20px 20px 20px;
    min-width: 10px;
  }

  .block_7_img {
    flex-grow: 1;
    max-width: 100%;
    /* flex-basis: 50%; */

    /* height: 483px; */
    /* min-height: 261px; */
  }

  .img_foot_block_7 {
    width: 100%;
    height: auto;
  }
  /*  footer  */

  footer {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    padding: 20px;
    /* #FFFFFF */

    color: #ffffff;
    max-width: 1440px;
    height: 210px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    /* Brand Colour */

    background: #00adee;
  }
  .footer_wrap {
    /* flex-grow: 1; */
    display: flex;
    max-width: 1115px;
    /* margin: 0 auto; */
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    align-items: normal;
    flex-direction: column;
  }

  .social {
    display: flex;
    justify-content: space-between;
    width: 109px;
    height: 25px;
    align-items: center;
    order: 2;
    margin: 11px 0px 34px 0px;
  }

  .footer_ico {
    display: flex;
    justify-content: space-between;
    max-width: 375px;
    align-items: center;
    margin-bottom: 5px;
    order: 5;
  }
  a:link {
    color: inherit;
  }

  a:visited {
    color: inherit;
  }

  .logo_fot {
    margin: 0;
    width: 99px;
    height: 32px;
  }

  .transform {
    transform: translate(0px, 10px);
  }
}
