@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Montserrat", sans-serif;
}
.flex {
  display: flex;
}
#header .header-top,
#header {
  background: #fff;
  padding-bottom: 0;
}
#header .header-nav {
  border-bottom: 0px;
  max-height: 50px;
  margin-bottom: 30px;
}
#_desktop_user_info a,
#_desktop_cart .header {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
#header .header-nav .blockcart .header {
  margin-top: 0.125rem;
  position: relative;
}

#_desktop_user_info a > span,
#_desktop_cart div > span.hidden-sm-down.text {
  font-size: 13px;
  color: rgb(0, 5, 85);
  line-height: 1.2;
  text-align: center;
}
.telefone {
  font-size: 20px;
  color: rgb(0, 5, 85);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
div#_desktop_top_menu {
  margin: 0 auto;
}
#header .header-top .search-widget {
  float: left;
  width: 80%;
  margin: 0 auto;
}

#header .header-top .position-static {
  position: static;
  height: 71px;
  display: flex;
  align-items: center;
}
ul#top-menu {
  margin: 0;
}
.user-info span,
#_desktop_cart span {
  margin-top: 8px;
}
.cart-block {
  display: flex;
}
.ui-autocomplete-input {
  background-color: rgb(244, 247, 254);
  border-radius: 20px;
}
.search-widget form input[type="text"] {
  padding: 10px 10px 10px 100px;
  border-radius: 100px;
}
.search-widget form button[type="submit"] {
  position: absolute;
  background: none;
  border: none;
  bottom: 1.0125rem;
  left: 2.125rem;
}
.search-widget form input[type="text"] {
  border: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(0, 5, 85);
  line-height: 1.2;
  text-align: left;
}
input.ui-autocomplete-input {
  height: 62px;
}
.contcact-block__contact-btn {
  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(0, 5, 85);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  background: white;
  border: 2px solid rgb(0, 5, 85);
  border-radius: 18px;
  padding: 5px 20px;
}

#top-menu a {
  font-size: 22px;
  font-family: "Montserrat";
  color: rgb(0, 5, 85);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  text-transform: none;
}
#header .header-top a[data-depth="0"] {
  text-transform: none;
  color: rgb(0, 5, 85);
}
span.cart-products-count {
  position: absolute;
  left: 30px;
  top: -10px;
  width: 35px;
  height: 35px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  line-height: 1.2;
  border-radius: 50%;
  background: #ffd287;
  font-size: 20px;
  color: rgb(0, 5, 85);
  font-weight: bold;
  border-width: 5px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
}
.carousel .carousel-control .icon-next {
  right: 4rem;
}
.carousel .carousel-inner {
  height: 665px;
}
.carousel .carousel-indicators {
  display: block;
}
.carousel {
  box-shadow: 1px 1px 7px 0 rgb(0 0 0 / 15%);
  margin-bottom: 15px;
}
.cart-block {
  justify-content: space-between;
  gap: 8px;
}
.icon-next {
  background: center/10px no-repeat url(./arrov.png), white;
  width: 65px;
  height: 65px;
  border-radius: 50%;
}
.swiper-container {
  width: 100%;
  height: 650px;
}
#wrapper {
  background: #fff;
  box-shadow: none;
  padding-top: 1.563rem;
}
.ressuranse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.ressuranse-block {
  align-items: center;

  display: flex;
  max-width: 560px;
  margin: 10px;
}
.img-wrap img {
  width: 100%;
  height: auto;
}
.ressuranse-block h3 {
  font-size: 28px;
  font-family: "Montserrat";
  color: rgb(0, 5, 85);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
  margin-bottom: auto;
}
.ressuranse-block h4 {
  font-size: 20px;
  text-align: left;
  font-weight: 500;
  color: rgb(0, 5, 85);
}
.img-wrap {
  margin-right: 10px;
}
.bordeaux {
  width: 100%;
  background: #f4f7fe;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 38px 20px 20px 20px;
}
.bordeaux h2 {
  font-size: 40px;

  color: rgb(0, 5, 85);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  margin-top: 27px;
}
.bordeaux h3 {
  font-size: 20px;

  color: rgb(0, 5, 85);
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}
.bordeaux .text-wrap {
  max-width: 1000px;
}
h2.h2.products-section-title.text-uppercase {
  font-size: 40px;

  color: rgb(0, 5, 85);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  margin: 50px 0px;
}
h3 {
  font-size: 28px;
  color: rgb(0, 5, 85);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.179;
  text-align: center;
}
.featured-products-h3 {
  margin-bottom: 1.5rem;
}
.cta-btn {
  width: 260px;
  height: 57px;
  border-radius: 40px;
  border: none;
  background-color: rgb(0, 5, 85);
  color: white;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
#custom-text img {
  max-width: 100%;
  width: 100%;
  all: initial;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 22px 22px;
  align-items: end;
  justify-items: center;
}
.grid-container h3 {
  margin-top: 15px;
}
.blog-img {
  text-align: center;
}
.footer-container,
.block-social ul li {
  background-color: #000555;
  color: white;
  display: flex;
  align-items: center;

  justify-content: center;
}
.block-contact .block-contact-title,
.footer-container .h3,
.footer-container .h4,
.footer-container .block-contact,
.footer-container li a {
  color: white;
}
.block-social ul li a img {
  max-width: 100%;
  width: auto;
  height: 100%;
}
.block-social ul li a {
  height: 1.5rem;
  text-indent: inherit;
  text-align: center;
  vertical-align: baseline;
}
.footer-container .white-btn {
  background-color: white;
  margin: 20px 0;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.2;
  width: 194px;

  color: #000555;
}
.logo-wraper-foot {
  text-align: center;
  max-width: 340px;
  padding: 10px;
  margin: 50px auto 50px auto;
}
.logo-wraper-foot > img {
  width: 100%;
  height: auto;
}
/*  */
@media (min-width: 1200px) {
  .telefone {
    font-size: 15px;
  }
}

@media (min-width: 1920px) {
  .container {
    width: 1700px;
    max-width: 100%;
  }
}
@media (max-width: 1919px) {
  #header div.header-top .cart-block > a > img,
  .telefone {
    display: none;
  }
}

@media (max-width: 767px) {
  #header .header-nav .blockcart.inactive .cart-products-count {
    display: block;
    right: -10px;
    left: auto;
    width: 26px;
    height: 26px;
    line-height: 18px;
    font-size: 12px;
  }
  .header-top .search-widget form input[type="text"] {
    background: #f6f9fe;
  }
  .search-widget form button[type="submit"] {
    position: absolute;
    background: none;
    border: none;
    bottom: 1.0125rem;
    left: 1.125rem;
  }
  .grid-container h3 {
    font-size: 10px;
  }
  .mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .header-nav .top-logo {
    padding: 11px;
    order: 1;
    max-width: 194px;
    width: 100%;
  }
  #header > nav > div > div > div > div.clearfix {
    display: none;
  }
  #menu-icon {
    order: 4;
  }
  #_mobile_user_info {
    order: 2;
  }
  #_mobile_cart {
    order: 3;
  }
  #_mobile_user_info > div > a > img {
    width: 28px;
  }
  #_mobile_cart > div > div > img {
    width: 32px;
  }
  #header .header-nav .user-info {
    margin-left: 2.5rem;
    margin-top: 0;
  }
  #search_widget > form > button > img {
    height: 18px;
  }
  input.ui-autocomplete-input {
    height: 40px;
  }
  #header .header-top .position-static {
    position: static;
    height: auto;
    display: flex;
    margin: 5px 5px 20px 5px;
    align-items: center;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-size: 12px;
    font-family: "Montserrat";
    color: rgb(0, 5, 85);
    line-height: 1.2;
  }
  .search-widget form input[type="text"] {
    padding: 10px 10px 10px 50px;
  }
  .search-widget form button[type="submit"] {
    bottom: 0.6125rem;
  }
  .ressuranse-block {
    flex-direction: column;
    max-width: 30%;
    margin: 0;
  }
  .ressuranse-block h3 {
    font-size: 10px;
    text-align: center;
    margin-top: 13px;
  }
  .ressuranse-block h4 {
    font-size: 8px;
    text-align: center;
  }
  .img-wrap img {
    width: auto;
    height: 100%;
  }
  .img-wrap {
    position: relative;
    margin: 0;
    max-width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 56px;
  }
  .img-wrap .img-wrap__car-img {
    width: 103px;
    position: relative;
    left: -5.3px;
    height: auto;
  }
}

@media (max-width: 360px) {
  .bordeaux h2 {
    font-size: 20px;
  }
  .bordeaux h3 {
    font-size: 11px;
  }
}
