h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  /* or 88px */

  /* 2 */

  color: #212353;
}

html,
h3 {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
.h1 {
  max-width: 645px;
  margin: 129px 0px 50px 0px;
  z-index: 999;
}
.h3 {
  max-width: 380px;
  margin-bottom: 50px;
  z-index: 998;
  background: #ffffffad;
}

html {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

.nawbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-bottom: 4px;
}

.navb_item {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  padding: 10px 20px;
  display: block;
}

/* .navb_item:hover {
    border-bottom: 2px solid #F063B8;
    box-sizing: border-box;
  } */

.navb_item {
  position: relative;

  cursor: pointer;
  line-height: 2; /*висота*/
}
.navb_item:after {
  display: block;
  position: absolute;
  left: 0; /*направлення */
  width: 0; /*довжина лінії до наведення мишки*/
  height: 2px; /*ширина лінії*/
  background-color: #9c69e2;
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}

.navb_item:hover:after,
.navb_item:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.recvest {
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  flex-grow: 1;

  justify-content: space-around;
}

.recvest_demo {
  width: 210px;
  height: 60px;

  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;

  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  text-align: left;
  padding: 0px 29px;
  border: 0px;
  cursor: pointer;

  background-image: url(./images/arrow.svg);

  background-position: 157px;
  background-size: 25px;
  background-repeat: no-repeat;
   
}

.recvest_demo:hover {
  background: #f063b8;
  transition: 0.8s;
  background-image: url(./images/arrow.svg);

  background-position: 157px;
  background-size: 25px;
  background-repeat: no-repeat;
}

.arrow {
  margin-left: 5px;
}

.item_bold {
  font-weight: 800;
}

.btn_learn_more {
  width: 170px;
  height: 60px;

  background: #9c69e2;
  border-radius: 50px;
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 100px;
  color: #ffffff;
  transition-duration: 0.4s;
}

.btn_learn_more:hover {
  cursor: pointer;
  opacity: 0.9;
  transition-duration: 0.8s;
}

header {
  margin: 50px auto 100px;
  max-width: 1248px;
}

a {
  color: inherit;
}

.image1_1 {
  background-image: url(./images/image1_1.svg);
  z-index: -20;
  background-repeat: no-repeat;

  background-position-x: right;
  background-position-y: bottom;

  background-size: auto;
}

.txt_relat {
  position: relative;
}

.conteiner_2 {
  display: flex;
  max-width: 1117px;

  margin: 0 auto;
  align-items: center;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

h4 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  color: #212353;
}

.conteiner_2_txt {
  max-width: 474px;
}

p {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */

  /* 1 */

  color: #4b5d68;
}

.conteiner_3 {
  max-width: 1136.85px;

  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.features {
  text-align: center;
}

.four_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  justify-content: center;
}

h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
  
}

.par_st {
  max-width: 584px;
  text-align: center;
}

.no_wrap_item {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 538px;
  min-width: 520.85px;

  justify-content: space-evenly;
  margin-bottom: 132px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
  min-height: 315px;
}

.wrap_text {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  /* 1 */

  color: #4b5d68;
}

.image_cont {
  margin: 10px;
  display: flex;
  align-items: center;
}

.btn_arrow {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  border: 0px;
  letter-spacing: 0.005em;
  background: 0px;
  cursor: pointer;
  /* 2 */
  max-height: 50px;
  min-width: 125px;
  color: #212353;
  
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  transition-duration: 0.4s;
  background-image: url(./images/arrow_low.svg);
  background-position: 95px;
  background-size: 25px;
  background-repeat: no-repeat;
}

.btn_arrow:hover {
   
  background-image: url(./images/arrow_low.svg);
   
  background-position: 115px;
  background-size: 25px;
  background-repeat: no-repeat;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
max-height: 50px;
  transition: 0.8s;
  padding-left: 20px;
  min-width: 155px;
  animation-direction: normal;

}
 

.arrow_center {
  display: flex;
}

.conteiner_4 {
  display: flex;
  max-width: 1117px;

  margin: 0 auto;
  align-items: center;
  background: #9c69e2;
  border-radius: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 150px;

  padding: 4% 4% 0% 4%;
}

h2 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  flex-basis: 100%;
  align-self: flex-start;
  margin-bottom: 88px;
  margin-top: 50px;
  color: #ffffff;
}

.reviev {
  background: #ffffff;
  box-shadow: 0px 20px 0px rgba(156, 105, 226, 0.3);
  border-radius: 20px;
  display: flex;
  flex-basis: 100%;
  padding: 4% 4%;
  justify-content: space-evenly;
}

.href_user {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;

  color: #9c69e2;
}

.user_name {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;

  color: #212353;
}
.user_rev {
  max-width: 566.46px;
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 180%;
  margin-top: 20px;
  color: #4b5d68;
}

.image_rev {
  margin: 10px;
}

.nav_cont_4 {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  margin: 60px 0px;
}

.nav_cont_arr {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}

.fot_par {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  color: #4b5d68;
}
.foot_try {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 150px;
}
.foot_batoon {
  display: flex;
  min-width: 30%;
  justify-content: space-between;
  margin: 20px 0px;
}

.foot_btn {
  background: #f063b8;
  border-radius: 50px;
  color: #ffffff;
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 160%;
  margin: 0px 20px;
  padding: 0px 25px;
  transition-duration: 0.4s;
}

.foot_btn:hover {
  background: #9c69e2;
  cursor: pointer;
  transition: 0.8s;
}



.foot_contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.name_logo_foot {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 160%;

  color: #212353;
}

.logo_fotter {
  display: flex;
}

.logo_fut {
  margin: 0px 20px 0px 0px;
  width: 49px;
  height: 35px;
}
.foot_menu {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  /* margin: 30px 50px; */
}

.foot_menu {
  position: relative;

  cursor: pointer;
  line-height: 2; /*висота*/
}
.foot_menu:after {
  display: block;
  position: absolute;
  left: 0; /*направлення */
  width: 0; /*довжина лінії до наведення мишки*/
  height: 2px; /*ширина лінії*/
  background-color: #9c69e2;
  content: "";
  transition: width 0.3s ease-out; /*задаём время анимации*/
}

.foot_menu:hover:after,
.foot_menu:focus:after {
  width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.fot_ad_1 {
  margin-top: 67px;
  max-width: 335px;
}

.logo_social {
  margin: 0px 14px;
}

.marg_foot {
  margin-top: 30px;
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 250%;
  /* or 40px */

  /* 2 */

  color: #212353;
}

.copy {
  max-width: 360px;
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  /* or 22px */

  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  margin: 118px 10px 96px 0px;
  /* 2 */

  color: #212353;
}

address {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 180%;
  /* or 29px */
  letter-spacing: 0.01em;
  color: #212353;
  margin-top: 15px;
}

.chat {
  position: fixed;

  background-image: url(./images/chat.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 50px;
  right: 50px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 50%;
  transition-duration: 0.4s;
  opacity: 0.2;
}
.chat:hover {
  position: fixed;

  background-image: url(./images/chat.svg);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 50px;
  right: 50px;
  width: 55px;
  height: 55px;
  text-decoration: none;
  border-radius: 50%;
  transition: 0.8s;
  opacity: 1;
}

.href_fut:hover {
  color: #f063b8;
}
footer {
  margin: auto;
  max-width: 1120px;
}
