h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  /* or 88px */

  /* 2 */

  color: #212353;
}

html,
h3 {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
.h1 {
  max-width: 645px;
  margin: 129px 0px 50px 0px;
  z-index: 999;
}
.h3 {
  max-width: 380px;
  margin-bottom: 50px;
  z-index: 998;
  background: #ffffffad;
}

html {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

.nawbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-bottom: 4px;
}

.navb_item {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  padding: 10px;
}

/* .navb_item:hover {
    border-bottom: 2px solid #F063B8;
    box-sizing: border-box;
  } */

.navb_item:hover {
  background: #f063b8;
  transition: 0.8s;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.recvest {
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  flex-grow: 1;

  justify-content: space-around;
}

.recvest_demo {
  width: 210px;
  height: 60px;

  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;

  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  border: 0px;
}
.arrow {
  margin-left: 5px;
}

.item_bold {
  font-weight: 800;
}

.btn_learn_more {
  width: 170px;
  height: 60px;

  background: #9c69e2;
  border-radius: 50px;
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;

  color: #ffffff;
}

header {
  margin: 3% 5%;
  min-height: 820px;
}

a {
  color: inherit;
}

.image1_1 {
  background-image: url(./images/image1_1.svg);
  z-index: -20;
  background-repeat: no-repeat;

  background-position: right;
  background-size: contain;
}

.txt_relat {
  position: relative;
}

.conteiner_2 {
  display: flex;
  max-width: 1117px;
  max-height: 560px;
  margin: 0 auto;
  align-items: center;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  justify-content: space-evenly;
}

h4 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */

  display: flex;
  align-items: center;

  color: #212353;
}

.conteiner_2_txt {
   max-width:  474px;
  
}

p {
    font-family: AvenirNextCyr-Regular;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 160%;
/* or 29px */


/* 1 */

color: #4B5D68;
}
