h1 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 110%;
  /* or 88px */

  /* 2 */

  color: #212353;
}

html,
h3 {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
.h1 {
  max-width: 645px;
  margin: 129px 0px 50px 0px;
  z-index: 999;
}
.h3 {
  max-width: 380px;
  margin-bottom: 50px;
  z-index: 998;
  background: #ffffffad;
}

html {
  background: linear-gradient(180deg, #f6fafd 0%, #ffffff 19.4%);
}

.nawbar_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.navbar {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  margin-bottom: 4px;
}

.navb_item {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  padding: 10px;
}

/* .navb_item:hover {
    border-bottom: 2px solid #F063B8;
    box-sizing: border-box;
  } */

.navb_item:hover {
  background: #f063b8;
  transition: 0.8s;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;
}

.recvest {
  display: flex;
  align-items: center;
  letter-spacing: 0.005em;
  flex-grow: 1;

  justify-content: space-around;
}

.recvest_demo {
  width: 210px;
  height: 60px;

  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
  border-radius: 50px;

  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  border: 0px;
}
.arrow {
  margin-left: 5px;
}

.item_bold {
  font-weight: 800;
}

.btn_learn_more {
  width: 170px;
  height: 60px;

  background: #9c69e2;
  border-radius: 50px;
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 100px;
  color: #ffffff;
}

header {
  margin: 1% 5%;
  min-height: 820px;
}

a {
  color: inherit;
}

.image1_1 {
  background-image: url(./images/image1_1.svg);
  z-index: -20;
  background-repeat: no-repeat;

  background-position: right;
  background-size: contain;
}

.txt_relat {
  position: relative;
}

.conteiner_2 {
  display: flex;
  max-width: 1117px;

  margin: 0 auto;
  align-items: center;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

h4 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 130%;
  /* or 52px */
  margin-bottom: 40px;
  display: flex;
  align-items: center;

  color: #212353;
}

.conteiner_2_txt {
  max-width: 474px;
}

p {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  /* or 29px */

  /* 1 */

  color: #4b5d68;
}

.conteiner_3 {
  max-width: 1136.85px;
 
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: column;
}

.features {
  text-align: center;
}

.four_wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  justify-content: center;
}

h5 {
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  color: #212353;
}

.par_st {
    max-width: 584px;
    text-align: center;
}

.no_wrap_item {
  display: flex;
  flex-wrap: nowrap;
  flex-basis: 538px;
  min-width: 520.85px;
  
  justify-content: space-evenly;
  margin-bottom: 132px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  max-width: 220px;
}

.wrap_text {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */

  /* 1 */
  margin: 20px 0px;
  color: #4b5d68;
}

.image_cont {
  margin: 10px;
  display: flex;
    align-items: center;
}

.btn_arrow {
  font-family: AvenirNextCyr-Regular;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 160%;
  /* identical to box height, or 26px */
  border: 0px;
  letter-spacing: 0.005em;
  background: 0px;
  /* 2 */
  min-height: 50px;
  min-width: 125px;
  color: #212353;

  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
}
