<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/reset.css")
        link(rel="stylesheet", href="./css/style.css")
        title Document
    body
        .wrapper_head
            header.head_block
                nav
                    
                    ul.nav_item
                            li 
                                a(href="http://fb.com") Home
                            li 
                                a(href="http://fb.com") Home
                            li 
                                a(href="http://fb.com") Home
                    .logo
                        h1.logo Landie
                    .btn_nav_box
                        button.btn_nav Buy Now
                .block_1
                    .block_1_wr
                        h1 Introduce Your Product Quickly & Effectively
                        p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. 
                        