.polygon-animate {
  position: absolute;
  animation: animat 4s infinite;
  z-index: 0;
}

@keyframes animat {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.2;
  }
}
/* DELAY */

.delay-1 {
  animation-delay: -1s;
}
.delay-2 {
  animation-delay: -1.5s;
}
.delay-3 {
  animation-delay: -1.8s;
}
.delay-4 {
  animation-delay: -1.9s;
}
.delay-5 {
  animation-delay: -2s;
}
.delay-6 {
  animation-delay: 2s;
}
.delay-7 {
  animation-delay: 1s;
}
.delay-8 {
  animation-delay: 0.5s;
}
.delay-9 {
  animation-delay: 0.8s;
}
.delay-10 {
  animation-delay: 1.5s;
}
.delay-11 {
  animation-delay: 1.2s;
}
.delay-12 {
  animation-delay: 1.9s;
}
.delay-13 {
  animation-delay: 2.2s;
}
.delay-14 {
  animation-delay: 2.7s;
}
.delay-15 {
  animation-delay: 2.9s;
}
.delay-16 {
  animation-delay: 3.2s;
}

/*  Delay*/
.st0 {
  fill: none;
  stroke: #0b1b51;
  stroke-width: 62;
  stroke-miterlimit: 10;
  stroke-dasharray: 12.1947, 12.1947, 12.1947, 12.1947, 12.1947, 12.1947;
}

/* Sppedometer */

.speedometer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 162px;
  height: 500px;
  left: 214px;
  width: 375px;
}

.speedometer svg {
  width: calc(75vh * 327 / 205.4);
  height: 75vh;
}

.speedometer path {
  fill: #0b1b51;
}

.needle {
  position: absolute;
  display: none;
  height: 0vh;
  bottom: 35vh;
  left: calc(50% - 4.5vh);
  width: 2vh;
  background: rgba(255, 255, 255, 0.233);
  transform-origin: bottom center;
  transform: rotate(0deg);
}
/* SPIN */
/* .column.center .transform{
   transform: translate(-50%, -50%);
} */
.column.center .animatio-spin {
  transform-origin: center;
  animation-name: spin;
  animation-duration: 6s;
  animation-timing-function: cubic-bezier(0.8, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-direction: normal;
  transform-box: fill-box;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* OTHER */

.budget:hover {
  transform: translate(-15px, -15px) scale(1.1);
}

.raiting-block:hover {
  transform: translate(15px, -15px) scale(1.1);
}

.btn-filials:hover {
transform: translate(0px, -15px) scale(1.1);
}