body {
  /* min-width: 1920px; */
  min-width: 1900px;
  background: radial-gradient(
      21.75% 39.35% at 50% 50%,
      rgba(68, 188, 255, 0.06) 0%,
      rgba(68, 188, 255, 0) 100%
    ),
    center/ contain url(./image/bg.png),
    0px 20px / 40vw no-repeat url(./image/icon.svg), #112054;
  /* background-size: contain; */
}
form {
  width: 100%;
  display: flex;
  border-top: 1px dashed #21caff;
  align-items: center;
}
input.search {
  font-family: Montserrat;
  width: calc(100% - 55px);
  border: 0;
  outline: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
input.search::placeholder {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff !important;
}
.search::-moz-placeholder {
  opacity: 1;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff !important;
}

.search-button {
  width: 35px;
  height: 35px;
  border: 0;
  cursor: pointer;
  background: center / 15px no-repeat url(./image/search-icon.svg);
}

.search-wrap {
  margin: 0 auto;
  width: 976.5px;
  height: 68.5px;
  background: no-repeat url(./image/search-bg.svg);
  display: flex;
  padding: 20px 200px 10px 117px;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 147px;
  padding: 50px 0 0 50px;
  background: center 43px / 100% no-repeat url(./image/footer.svg);
}
.logo {
}

html,
body {
  height: 100%;
  /* overflow-x: hidden; */
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
footer {
  flex-shrink: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: space-evenly;
  max-width: 1910px;
  margin: 0 auto;
}
/* main */
.left-block,
.right-block {
  width: 490px;
}
/* CIRCLE */
.circle-block {
  height: 814px;
  width: 804px;
  background: center/ 442px no-repeat url(./image/circle/circle-bg-small.svg),
    center/ 644px no-repeat url(./image/circle/circle-bg.svg);
  position: relative;
}
.cyrcle-rotate {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 537px;
}
.extramural {
  position: absolute;
  top: 407px;
  left: 492px;
}

.sum-student {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-filials {
  position: absolute;
  width: 225px;
  height: 137px;
  left: 289px;
  top: 62px;
  padding: 50px;
  background: center 40px/ 11px no-repeat url(./image/circle/Polygon-filials.svg),
    center / contain no-repeat url(./image/circle/button-filialls.svg);
  border: none;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #44bcff;
  outline: none;
}
.budget {
  position: absolute;
  width: 311px;
  height: 351px;
  top: 58px;
  left: 31px;
}
.circle-text {
  width: 156px;
  height: 77px;
  position: absolute;
  top: 92px;
  left: 118px;
}
.circle-text > div {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  /* identical to box height, or 157% */
  color: #ffffff;
}
.circle-text > div > span {
  font-size: 30px;
  font-weight: 500;
}
.circle-text > p {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  text-align: left;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1d5a96;
}
.circle-text::after {
  content: "";
  width: 15px;
  height: 15px;
  background: center/ contain no-repeat url(./image/circle/Up-triangle.svg);
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 73px;
}
.circle-text.costs {
  top: 207px;
  left: 44px;
}
.costs::after {
  display: none;
}
.circle-text.costs::before {
  content: "";
  width: 15px;
  height: 15px;
  background: center/ contain no-repeat url(./image/circle/Down-triangle.svg);
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 57px;
}
.raiting-block {
  position: absolute;
  top: 79px;
  right: 52px;
  width: 279px;
  height: 368px;
}
.circle-text.raiting-text {
  left: 108px;
  top: 111px;
}
.circle-text.raiting-text > div {
  text-align: center;
  width: 79px;
}
.circle-text.raiting-text::after {
  background: center/ contain no-repeat url(./image/circle/Star.svg);
  width: 20px;
  height: 20px;
  left: -12px;
  top: 15px;
}
.publication-block {
  position: absolute;
  bottom: 33px;
  left: 52px;
  width: 279px;
  height: 368px;
}
.bottom-block {
  position: absolute;
  bottom: 53px;
  left: 290px;
  width: 232px;
  height: 147px;
}
.worker-block {
  position: absolute;
  bottom: 59px;
  right: 36px;
  width: 297px;
  height: 339px;
}

.text-block {
  font-size: 30px;
  text-align: center;
  left: 27px;
  top: 15px;
}

.text-block > div {
  font-size: 30px;
  text-align: center;
  width: 97px;
}

.text-block > p {
  width: 97px;
  height: 32px;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  /* or 160% */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #1d5a96;
}

.mid-text-circle {
  left: 75px;
  top: 119px;
}
.bottom-text-circle {
  left: 148px;
  top: 192px;
}
.circle-text.bottom-text-studetns {
  width: 107px;
  height: 100px;
  top: 30px;
  left: 61px;
}
.circle-text.bottom-text-studetns > div {
  width: 107px;
  text-align: center;
}
.circle-text.bottom-text-studetns > p {
  width: 107px;
  text-align: center;
}
.circle-text.bottom-text-studetns::after,
.text-block::after,
.worker-block .circle-text.worker-text.mid::after {
  display: none;
}
.circle-text.worker-text {
  top: 20px;
  left: 169px;
  height: 100px;
  text-align: center;
  width: 98px;
}
.circle-text.worker-text > p {
  text-align: center;
}
.worker-block .circle-text.worker-text.mid {
  top: 157px;
  left: 74px;
}

.worker-block .circle-text.worker-text.mid::before {
  content: "";
  width: 15px;
  height: 15px;
  background: center/ contain no-repeat url(./image/circle/Down-triangle.svg);
  display: inline-block;
  position: absolute;
  top: 27px;
  left: 65px;
}
.circle-text.text-block.peocent-left {
  left: 163px;
  width: 47px;
  top: 10px;
}
.circle-text.text-block.peocent-left > div,
.circle-text.text-block.peocent-right > div {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  width: 47px;
  color: #44bcff;
}
.circle-text.text-block.peocent-left > p,
.circle-text.text-block.peocent-right > p {
  width: 47px;
}
.circle-text.text-block.peocent-right {
  left: 486px;
  width: 47px;
  top: -65px;
}
/* LEFT BAR  -----------*/

.left-block .retancle-one {
  width: 413px;
  height: 335.5px;
  padding: 30px 27px 40px 30px;
  background: center / contain no-repeat
    url(./image/retancle-left/bg-retancle-left-top.svg);
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.left-block .head-retancle {
  display: flex;
  gap: 24px;
}

.left-block .finanse-cash {
  display: flex;
  flex-direction: column;
}

.left-block .finanse-cash > div {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #44bcff;
}

.left-block .finanse-cash > p {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}

.left-block .finance-text {
  flex-grow: 1;
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.retancle-one-graph {
  position: relative;
  width: 356.75px;
  height: 198px;
  background: center / contain no-repeat
    url(./image/retancle-left/bg-small.svg);
}

.rotate-left {
  display: flex;
  flex-direction: column;
  transform: rotate(-90deg);
  height: 356.75px;
  width: 198px;
  position: absolute;
  top: -84px;
  left: 98px;
  gap: 23px;
}

.retancle-one-graph .retalncle {
  /* position: absolute; */
  height: 22px;
  width: 99px;
  /* left: 35px;
  top: 94px; */
  background: linear-gradient(
    270deg,
    #44bcff 0%,
    rgba(68, 188, 255, 0.15) 100%
  );
}
.retancle-one-graph .rotate-left > div > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 7.7px;
  line-height: 11px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  /* transform: rotate(-90deg); */
  /* position: absolute;
  top: 38px;
  left: -60px; */
}
.retancle-one-graph .tulskiy-un {
  height: 22px;
  width: 156px;
  /* left: 75px;
  top: 37px; */
}
/* .retancle-one-graph .tulskiy-un > p {
  top: 121px;
  left: -32px;
} */
.retancle-one-graph .volgradskiy-un {
  height: 22px;
  width: 129px;
  /* left: 118px;
  top: 64px; */
}
/* .retancle-one-graph .volgradskiy-un > p {
  top: 82px;
  left: -48px;
} */
.retancle-one-graph .sevastopolskiy-un {
  height: 22px;
  width: 73px;
}
.retancle-one-graph .tulskiy-un-two {
  height: 22px;
  width: 156px;
}
.retancle-one-graph .sevastopolskiy-un-two {
  height: 22px;
  width: 129px;
}
/* bottom retancle - left */

.retancle-one.bottom .retancle-one-graph{
  display: flex;


}
.retancle-one.bottom .retancle-one-graph .column{
  display: flex;
  flex-direction: column;
}
.retancle-one.bottom .retancle-one-graph .column.center{
 width: 133px;
 height: 117px;
}